<dialog
  id="generic_dialog"
  class="modal modal-bottom sm:modal-middle backdrop-blur-sm bg-black/40 transition-all"
>
  @if (dialogService.data(); as modalData) {
    <div
      class="modal-box bg-base-100 p-0 overflow-hidden w-full max-w-xl shadow-2xl border border-base-300"
    >
      <div
        class="flex justify-between items-center p-4 border-b border-base-300 bg-base-100/95 backdrop-blur-md sticky top-0 z-20"
      >
        <div class="flex items-center gap-6">
          <!-- botón x -->
          <button
            class="btn btn-sm btn-circle btn-ghost text-xl hover:bg-red-950 transition-colors"
            (click)="close()"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
          <h3 class="font-bold text-xl tracking-tight">{{ modalData.title }}</h3>
        </div>
        <button
          class="btn btn-secondary btn-sm rounded-full font-bold px-5 shadow-sm hover:scale-105 transition-transform"
          (click)="onSaveClick()"
        >
          {{ modalData.btnText || 'Guardar' }}
        </button>
      </div>

      <div class="p-4 min-h-[500px] flex flex-col">
        <!-- quiero que ocupe todo el espacio disponible -->
        <ng-container *ngComponentOutlet="modalData.component"></ng-container>
      </div>
    </div>
  }

  <form method="dialog" class="modal-backdrop">
    <button (click)="close()" class="cursor-default">cerrar</button>
  </form>
</dialog>
